<option value="movie_theater">Movie Theater</option>
<option value="night_club">Night Club</option>
<option value="bowling_alley">Bowling Alley</option>
<option value="supermarket">Supermarket</option>
<option value="shopping_mall">Shopping Mall</option>
<option value="restaurant">Restaurant</option>
<option value="bar">Bar</option>
<option value="cafe">Cafe</option>
<option value="spa">Spa</option>